@import "tailwindcss";

:root {
    color-scheme: dark;
}

@theme {
    --color-primary-50: #ecfdf5;
    --color-primary-100: #d1fae5;
    --color-primary-500: #10b981;
    --color-primary-600: #059669;
    --color-primary-900: #064e3b;

    --color-dark-900: #0f172a;
    --color-dark-800: #1e293b;
    --color-dark-700: #334155;
    --color-dark-600: #475569;
}

body {
    @apply bg-dark-900 text-slate-100 font-sans antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-dark-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-dark-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600;
}